
@model IEnumerable<string>

@{
    ViewData["title"] = "Add Ca Trực";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/formEdit.css">

<div class="divformedit">
    <div class="formedit">
        <h2 style="font-size:30px;font-family: 'Open Sans';">Thêm Ca Trực</h2>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="lable-text">Mã Nhân Viên</label>
                @*<input value="@Model.MaNV" class="form-control" id="manv" name="MaNV" readonly>*@
                    <select id="MaNV" class="form-control" name="MaNV">
                        @{ foreach (var x in Model)
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
            </div>
            <div class="form-group col-md-6">
                <label class="lable-text">Tên Nhân Viên</label>
                @*<input class="form-control" id="tennv" readonly name="TenNV" value="@Model.TenNV">*@
                <select id="cbbMaNV" class="form-control" name="TenNV">
                    @{ foreach (var x in Model)
                        {
                            <option value="@x">Đây là Tên Nv Nhưng chưa đọc được database</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="lable-text">Tên Công Việc</label>
            <input type="text" class="form-control" style="font-size :18px;" id="tencv"  name="TenCV" placeholder="Tên Công Việc">
        </div>
        <div class="form-group">
            <label class="lable-text">Nhiệm Vụ</label>
            <input type="text" class="form-control" style="font-size :18px;" id="nhiemvu" name="NhiemVu" placeholder="Nhiệm Vụ">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="lable-text">Khu Vực</label>
                <input type="text" class="form-control" style="font-size :18px;" id="kv"  name="KhuVuc" placeholder="Khu Vực">
            </div>
            <div class="form-group col-md-6">
                <label class="lable-text" for="inputZip">Ca Làm</label>
                <input type="text" class="form-control" style="font-size :18px;" id="calam"  name="CaLam" placeholder="Ca Làm">
            </div>
        </div>
        <button style="font-size : 18px;" class="btn btn-primary" id="sub">Thêm</button>

    </div>
</div>

<script type="text/javascript">

    $('#sub').click(function () {
            if (confirm("Bạn Có Chắc Thêm Ca Trực Này ?")) {
                let manv = $('#MaNV option:selected').val();
                
                let tennv = $('#tennv').val();
                let tencv = $('#tencv').val();
                let nhiemvu = $('#nhiemvu').val();
                let kv = $('#kv').val();
                let calam = $('#calam').val();
                console.log(manv);
                console.log(tencv);
            $.post('@Url.Action("AddCaTruc","CaTruc")',
             {
                    MaNV: manv,
                    TenNV: tennv,
                    TenCV: tencv,
                    NhiemVu: nhiemvu,
                    KhuVuc: kv,
                    CaLam: calam,
             }, result => {
                    if (Number(result) > 0) {
                        alert("Thành Công!");
                        window.open('@Url.Action("Index","CaTruc")', '_self');
                    }
                    else {
                        alert("Thực Thi thất bại!");
                        location.reload();
                    }
                })

            }
                        }
    );


</script>
