@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<DoAn_CK.Models.CaTruc>
@{
    ViewData["title"] = "Index Ca Trực";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="css/table.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@{
    var i = 0;
}
<div class="container-table">
    <div class="wrap-table">
        <table class="table table-bordered" id="table-CaTruc">
            <tr class="table_header">
                <th>Mã Nhân Viên</th>
                <th>Tên Nhân Viên</th>
                <th>Tên Công Việc</th>
                <th>Nhiệm Vụ</th>
                <th>Khu Vực</th>
                <th>Ca Làm</th>
                <td></td>
            </tr>
            @foreach (var x in Model)
            {
                i++;
                <tr class="row_tbl">
                    <td>@x.MaNV</td>
                    <td>@x.TenNV</td>
                    <td>@x.TenCV</td>
                    <td>@x.NhiemVu</td>
                    <td>@x.KhuVuc</td>
                    <td>@x.CaLam</td>
                    <td class="td-action">
                        <button class="btn btn-danger delete-row" title="Xoá" id="@i"><i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-info" title="Sửa" id="btnsua" ><i class="far fa-edit"> </i></button>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
        <button class="btn btn-success" id="btnExport" title="Xuất File Excel"><i class="glyphicon glyphicon-save"></i> Export To Excel</button>
    </div>
</div>

// Modal Plugin
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a large modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>
    $("#btnExport").click(
        function () {
            tableToExcel('table-CaTruc', 'test', 'TestExport');

        });

    function getIEVersion() {
        var rv = -1;
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat(RegExp.$1);
        }
        return rv;
    }

    function tableToExcel(table, sheetName, fileName) {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");
        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) // If Internet Explorer
        {
            return fnExcelReport(table, fileName);
        }

        var uri = 'data:application/vnd.ms-excel;base64,',
            templateData = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>',
            base64Conversion = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
            formatExcelData = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

        $("tbody > tr[data-level='0']").show();

        if (!table.nodeType)
            table = document.getElementById(table)

        var ctx = { worksheet: sheetName || 'Worksheet', table: table.innerHTML }

        var element = document.createElement('a');
        element.setAttribute('href', 'data:application/vnd.ms-excel;base64,' + base64Conversion(formatExcelData(templateData, ctx)));
        element.setAttribute('download', fileName);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);

        $("tbody > tr[data-level='0']").hide();
    }


    function fnExcelReport(table, fileName) {

        var tab_text = "<table border='2px'>";
        var textRange;

        if (!table.nodeType)
            table = document.getElementById(table)

        $("tbody > tr[data-level='0']").show();
        tab_text = tab_text + table.innerHTML;

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        txtArea1.document.open("txt/html", "replace");
        txtArea1.document.write(tab_text);
        txtArea1.document.close();
        txtArea1.focus();
        sa = txtArea1.document.execCommand("SaveAs", false, fileName + ".xlsx");
        $("tbody > tr[data-level='0']").hide();
        return (sa);
    }
</script>

<script type="text/javascript">
    $('.delete-row').on('click', function () {
        var varid = this.id;
        var d;
        console.log(varid);
        if (confirm("Bạn Có Chắc Thực hiện xoá Ca Trực này?")) {

            var myTab = document.getElementById('table-CaTruc');
            var manv = myTab.rows.item(varid).cells.item(0).innerHTML;
            var tennv = myTab.rows.item(varid).cells.item(1).innerHTML;
            var tencv = myTab.rows.item(varid).cells.item(2).innerHTML;
            var nhiemvu = myTab.rows.item(varid).cells.item(3).innerHTML;
            var kv = myTab.rows.item(varid).cells.item(4).innerHTML;
            var calam = myTab.rows.item(varid).cells.item(5).innerHTML;
            console.log(manv, tennv, tencv, nhiemvu, kv, calam);
            $.post('@Url.Action("DeleteCaTruc", "CaTruc")',
                {
                    MaNV: manv,
                    TenNV: tennv,
                    TenCV: tencv,
                    NhiemVu: nhiemvu,
                    KhuVuc: kv,
                    CaLam: calam,

                }, result => {
                    if (Number(result) > 0) {
                        alert("Thành Công!");
                        location.reload();
                    }
                    else {
                        alert("Thực Thi thất bại!");
                        location.reload();
                    }
                })
        };
    });
</script>
